name: Atualiza Ativos

on:
  # Executa manualmente e via schedule diário
  workflow_dispatch:  # permite execução manual
  schedule:
    - cron: "0 21 * * *"  # 18h BRT = 21h UTC

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checar código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependências Python
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Instalar dependências do Playwright
        run: |
          python -m playwright install-deps
          python -m playwright install  # garante que os navegadores estão instalados

      - name: Rodar scraping
        run: python -m scraping.main

      - name: Salvar JSONs analisados
        uses: actions/upload-artifact@v4
        with:
          name: ativos-avaliados
          path: public/
