name: Atualiza Ativos

# Gatilhos
on:
  workflow_dispatch:   # Permite rodar manualmente
  schedule:
    - cron: "0 21 * * *"  # Todo dia às 21h UTC (18h BRT)

jobs:
  scraping:
    # Usa imagem oficial do Playwright (Linux + Python + browsers)
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright/python:1.43.0-focal  # imagem oficial com libs necessárias

    steps:
      - name: Checar código
        uses: actions/checkout@v3

      - name: Instalar dependências Python
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar scraping
        run: |
          python -m scraping.main

      - name: Salvar JSONs analisados
        uses: actions/upload-artifact@v4
        with:
          name: ativos-avaliados
          path: public/
