name: Atualiza Ativos

on:
  # Executa manualmente e via push/merge
  workflow_dispatch:

  # Executa diariamente às 18h BRT (21h UTC)
  schedule:
    - cron: "0 21 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright/python:1.43.0-focal

    steps:
      - name: Checar código
        uses: actions/checkout@v3

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar scraping
        run: python -m scraping.main

      - name: Salvar JSONs analisados
        uses: actions/upload-artifact@v4
        with:
          name: ativos-avaliados
          path: public/
