name: Atualiza Ativos

on:
  # Executa manualmente e via pull/merge
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
  # Executa diariamente às 18h BRT (21h UTC)
  schedule:
    - cron: "0 21 * * *"  # minuto hora dia mês dia-da-semana (UTC)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checar código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar scraping
        run: |
          python -m scraping.main

      - name: Salvar JSONs analisados
        uses: actions/upload-artifact@v4
        with:
          name: ativos-avaliados
          path: public/
